# Node modules #
node_modules

# Idea modules
*.iml

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml


# bower modules
bower_components

# Temp Files #
.*

# Contains root compiled assets #
build
/lambda

# Logs #
*.log
log/**

# Custom log4js configs
log4js*.json
!log4js.json

# Except #
!.gitignore
!.jshintrc
!.npmrc